@font-face{
    font-family: LanTing;
    src: url("../font/LanTing.ttf")
}

.header {
    background-color: #ff722b;
    position: fixed;
    height: 51px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-navbar{
    position: absolute;
    height: 51px;
    width: 70%;
    left: 15%;
}

.text-header-navbar-title {
    color: white;
    position: absolute;
    font-size: 130%;
    top: -3.25px;
    left: 70px;
    font-family: Minecraft, serif;
    /* text-shadow:  grey 2px 0 0, grey 0 2px 0, grey -2px 0 0, grey 0 -2px 0; */
}

.img-header-navbar-logo {
    position: absolute;
    height: 80%;
    top: 5px;
    left: 17px;
    border-radius: 5px;
}

.button-header-navbar-menu {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 10px;
}

.button-header-navbar-jump-1 {
    position: absolute;
    top: 13px;
    right: 185px;
    color: white;
    background-color: #ff722b;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: LanTing, serif ;
    cursor: pointer;
}

.button-header-navbar-jump-2 {
    position: absolute;
    top: 13px;
    right: 125px;
    color: white;
    background-color: #ff722b;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: LanTing, serif ;
    cursor: pointer;
}

.button-header-navbar-jump-3 {
    position: absolute;
    top: 13px;
    right: 70px;
    color: white;
    background-color: #ff722b;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: LanTing, serif ;
    cursor: pointer;
}

.button-header-navbar-jump-4 {
    position: absolute;
    top: 13px;
    right: 10px;
    color: white;
    background-color: #ff722b;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: LanTing, serif ;
    cursor: pointer;
}

.menu-navbar {
    position: fixed;
    top: 51px;
    left: 0;
    height: 197px;
    width: 101%;
    animation: open 650ms ease 0ms 1;
    overflow: hidden;
    z-index: 1;
}

.button-header-menu-navbar-jump {
    left: -1px;
    width: 101%;
    height: 50px;
    color: white;
    background-color: black;
    opacity: 75%;
    border: 0.5px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-family: LanTing, serif ;
}

.button-header-menu-navbar-jump-1 {
    position: absolute;
    top: 0;
}

.button-header-menu-navbar-jump-2 {
    position: absolute;
    top: 49px;
}

.button-header-menu-navbar-jump-3 {
    position: absolute;
    top: 98px;
}

.button-header-menu-navbar-jump-4 {
    position: absolute;
    top: 147px;
}




